@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.cardContainer>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cardContainer>.container .textCardContainer,
.cardContainer>.container .numberCardContainer {
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardContainer>.container .textCardContainer h3,
.cardContainer>.container .numberCardContainer h3 {
    border-bottom: 2px solid blue;
    font-weight: bold;
    width: 100%;
    font-size: clamp(20px, 7vw, 30px);
    background: linear-gradient(to right, rgba(30, 0, 255, 0.864), rgb(204, 255, 0));
    color: transparent;
    -webkit-background-clip: text;
    font-family: 'Silkscreen', sans-serif;

}
.cardContainer>.container .textCardContainer h4,
.cardContainer>.container .numberCardContainer h4 {
    margin-bottom: 1em;
    border-bottom: 2px solid black;

}
.cardContainer .container .shareButton{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.cardContainer>.container button {
    background-color: transparent;
    color: blue;
    border: none;
    border-bottom: 1px solid blue;
    font-weight: bold;
    margin-bottom: 1em;
    cursor: pointer;
}



.imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.images {
    width: 350px;
    height: 500px;
    background-color: black;
    animation: imageAnimation 10s infinite forwards;
    border-radius: 50px;
}

/* 350-622 */
@keyframes imageAnimation {
    0% {
        background-image: url(../Resources/image-1.jpg);
    }

    30% {
        background-image: url(../Resources/image-2.jpg);
    }

    60% {
        background-image: url(../Resources/image-3.jpg);
    }

    90% {
        background-image: url(../Resources/image-4.jpg);
    }

    100% {
        background-image: url(../Resources/image-1.jpg);
    }

}